<!-- Register -->
<div class="reg">
    <div class="out">
    <button mat-button>Help</button>
    <button mat-button>Privacy</button>
    <button mat-button>Terms</button>
    </div>   
    <div class="reg1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png"/>
        <h1>Create a Google Account</h1>
        <form [formGroup]="registerForm" (ngsubmit)="RegisterSubmit()">
          <div class="com">
            <div class="one">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="firstname" formControlName="firstname">   
                    <mat-error *ngIf="registerForm.hasError('required','firstname')">
                      firstname is Required!
                  </mat-error>
                  <mat-error *ngIf="registerForm.hasError('pattern','firstname')">
                      firstname is not valid! 
                  </mat-error>     
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last name (optional)</mat-label>                    
                    <input matInput placeholder>        
                </mat-form-field>                  
            </div>
            <div class="two">
                <mat-form-field appearance="outline">
                    <mat-label>Email address</mat-label>
                    <input matInput placeholder="Email" formControlName="email">   
                    <mat-error *ngIf="registerForm.hasError('required','email')">
                      email is Required!
                  </mat-error>
                  <mat-error *ngIf="registerForm.hasError('email','email')">
                      email is not valid!  
                  </mat-error> 
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" formControlName="password">   
                    <mat-error *ngIf="registerForm.hasError('required','password')">
                      password is Required!
                  </mat-error>
                  <mat-error *ngIf="registerForm.hasError('pattern','password')">
                      password is not valid! 
                  </mat-error>         
                </mat-form-field> 
                  <mat-checkbox class="example-margin" color="primary">Show Password</mat-checkbox>                  
            </div>
            <div class="but">
                <button mat-raised-button color="primary" id="id" (click) = "RegisterSubmit()">Create</button>
            </div>
        </div>
       </form>                 
    </div>
</div>
