<div class="box1">
    <div class="box2">
        <div class="out">
            <h1>Welcome Back</h1>
        <h4>Sign in to your account</h4>

        </div>
        
        <div class="box3">
            
            <div class="box4">
                <h1 id="sig">Sign In</h1>
                <h3>Your Email</h3>
                        <mat-form-field appearance="outline"> 
                            <mat-label>Email</mat-label>         
                            <input matInput placeholder>                            
                          </mat-form-field>
                          <h3>Your Password</h3>
                          <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            
                            <input matInput placeholder>
                            
                          </mat-form-field>
                          <div class="box5">
                            <mat-checkbox class="example-margin" color="primary">Remember Me</mat-checkbox> 
                            <button mat-button color="primary" id="for">Forget Password?</button>
                           
                            
                        </div>
                        <div class="box6">
                            <button mat-raised-button color="primary" id="grid">Signin</button>
                           
                                <h3 id="sig">I'm a new user.<span><button mat-button color="primary" id="f">Sign up</button>
                                </span></h3>
                               
                            
                          
                        </div>


            </div>
            
    

        </div>
        
    </div>
    

</div>
