.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(182,187,212);
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 30vw;
    background-color:rgb(13, 6, 63);
    border-radius: 4vh;
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.box3{
    display: flex;
    background-color: white;
    height: 70vh;
    width: 30vw;
    border-radius: 4vh;
    margin-top: 5vh;
    
}
#sig{
    padding: 1vh;
    margin-top: 2vh;
}
.box4{
    display: flex;
    flex-direction: column;
    padding: 5vh;
   

}
.box5{
    display: flex;
    gap:7vh;

}
.box6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}
#grid{
    display: grid;
    grid-template-columns: 40vh;
    background-color: rgb(17,12,49);
}
.out{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    color: white;
}
#sig{
    display: flex;
    align-items: center;
    justify-content: center;
}
#f{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17,12,49);
}
