
.box1{
    display: flex;  
    background-color: white;
    border: 0px;
    background-color: transparent;
    align-items: end;
    border-radius: 1vh;
   
}
.one,.two,.three,.four,.five,.one1{
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color:rgb(103, 103, 103) ;

}
.one:hover{
    background-color:rgb(228, 219, 219) ;
    border-radius: 3vh;
}
.one1:hover{
    background-color:rgb(228, 219, 219) ;
    border-radius: 3vh;
}
.two:hover{
    background-color:rgb(228, 219, 219) ;
    border-radius: 3vh;
}
.three:hover{
    background-color:rgb(228, 219, 219) ;
    border-radius: 3vh;
}
.four:hover{
    background-color:rgb(228, 219, 219) ;
    border-radius: 3vh;
}
.five:hover{
    background-color:rgb(228, 219, 219) ;
    border-radius: 3vh;
}

.colorIcon {
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;
    border-radius: 5vh;
    margin: 5px;
    cursor: pointer;
}

.colorIcon:focus {
    outline: none; 
}
.colorIcon:hover{

    background-color: rgb(185, 183, 183);
}
.col{
    display:flex;
}


